<h2 class="text-muted">Dashboard</h2>
<div class="row">
    <!--<div class="col-md-12">-->
        <!--<ngb-carousel>-->
            <!--<ng-template ngbSlide *ngFor="let slider of sliders">-->
                <!--<img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">-->
                <!--<div class="carousel-caption">-->
                    <!--<h3>{{slider.label}}</h3>-->
                    <!--<p>{{slider.text}}</p>-->
                <!--</div>-->
            <!--</ng-template>-->
        <!--</ngb-carousel>-->
    <!--</div>-->
</div>
<hr>
<div class="row">
    <div class="col-lg-3">
        <div class="card text-center">
            <div class="card-header">
                <h4>Pain Free</h4>
            </div>
            <div class="card-block">
                <p>3 days</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card text-center">
            <div class="card-header">
                <h4>Average Severity</h4>
            </div>
            <div class="card-block">
                <p>4</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card text-center">
            <div class="card-header">
                <h4>Frequent Location</h4>
            </div>
            <div class="card-block">
                <p>Base of neck</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card text-center">
            <div class="card-header">
                <h4>Most Common Relief</h4>
            </div>
            <div class="card-block">
                <p>Massage</p>
            </div>
        </div>
    </div>
</div>

